// Core variables and mixins
@import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/bootstrap/less/mixins.less";

// Reset
@import "../bower_components/bootstrap/less/normalize.less";
// @import "../bower_components/bootstrap/less/print.less";

// Core CSS
@import "../bower_components/bootstrap/less/scaffolding.less";
@import "../bower_components/bootstrap/less/type.less";
// @import "../bower_components/bootstrap/less/code.less";
// @import "../bower_components/bootstrap/less/grid.less";
// @import "../bower_components/bootstrap/less/tables.less";
// @import "../bower_components/bootstrap/less/forms.less";
// @import "../bower_components/bootstrap/less/buttons.less";
body {
	background: url("../images/bodyBg.jpg") center center;
	background-size:132px 45px;
	width: 100%;
	overflow: hidden;
}
html{
	width: 100%;
	overflow: hidden;
}
#all{
	overflow: hidden;
}

#indexAll {
	overflow: hidden;
}

#logo{
	.size(387px/2,54px/2);
	position: absolute;
	right: 0px;
	top: 5px;
	background: url("../images/logo.png") no-repeat ;
	background-size: contain;
	z-index: 1000;
}
#flower{
	.size(403px/2,327px/2);
	position: absolute;
	background: url("../images/flower.png") no-repeat;
	background-size: contain;
	z-index: 1;
}
#body-center {
	.size(100%,80px+298px/2+37px/2);
	background-size: contain;
	position: absolute;
	top: 50%;
	margin-top:-124px;
	z-index: 50;
}

#toptips {
	width: 173.5px;
	height: 68px;
	top: 20px;
	position: absolute;
	right: 0px;
	&>div:first-child{
		width: 58.5px;
		height: 68px;
		left: 82px;
		top: -44px;
		position: absolute;
		background: url("../images/phone.png") no-repeat;
		background-size: 60% auto;
	}
	&>div:last-child{
		.size(201px/2,109px/2);
		right: 0px;
		position: absolute;
		background: url("../images/us.png") no-repeat;
		background-size: 60% auto;
	}
}

.toptipsrotate {
	.animation(rotate-toptips 1.5s linear 1 forwards);
}
@-webkit-keyframes rotate-toptips{
  0% {
  	.rotate(45deg);
  }
  12.5% {
  	.rotate(60deg);
  }
  25% {
  	.rotate(45deg);
  }
  37.5% {
  	.rotate(0deg);
  }
  50% {
  	.rotate(0deg);
  }
  62.5% {
  	.rotate(45deg);
  }
  75% {
  	.rotate(60deg);
  }
  87.5% {
  	.rotate(45deg);
  }
  100% {
  	.rotate(0deg);
  }
}

#resizeBtn {
	.size(363px/2,80px/2);
	position: absolute;
	background: url("../images/resizebtn.png") no-repeat;
	background-size: contain;
	left: 50%;
	margin-left:-363px/4;
	bottom: -70px;
}
#jiantou {
	.size(462px/2,247px/2);
	position: absolute;
	background: url("../images/jiantou.png") no-repeat;
	background-size: contain;
	top: -7px;
	left: -53px;
	display: none;
}
#car {
	width: 100%;
	height: 80px;
  float: left;
  overflow: hidden;
  visibility: hidden;
  position: relative;
	top:170px;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}

.carscroll_1 {
	.size(344px/2,80px);
  	float: left;
  	position: relative;
		background: url("../images/car_1.png") no-repeat center center;
		background-size: contain;
}
.carscroll_2 {
	.size(472px/2,80px);
  	float: left;
  	position: relative;
		background: url("../images/car_2.png") no-repeat center center;
		background-size: contain;
}
.carscroll_3 {
	.size(429px/2,80px);
  	float: left;
  	position: relative;
		background: url("../images/car_3.png") no-repeat center center;
		background-size: contain;
}
.carscroll_4 {
	.size(433px/2,80px);
  	float: left;
  	position: relative;
		background: url("../images/car_4.png") no-repeat center center;
		background-size: contain;
}
.carscroll_5 {
.size(507px/2,80px);
  	float: left;
  	position: relative;
		background: url("../images/car_5.png") no-repeat center center;
		background-size: contain;
}
.carscroll_6 {
	.size(445px/2,80px);
  	float: left;
  	position: relative;
		background: url("../images/car_6.png") no-repeat center center;
		background-size: contain;
}
#upload {
	.size(100%,298px/2);
	position: absolute;
	top:32px;
	border-radius: 50px;
	.translate3d(0,0,0);
	&>div:first-child{
		.size(231px/2,298px/2);
		left: 50%;
		margin-left:-298px/4;
		position: absolute;
		background: url("../images/circle_1.png") no-repeat;
		background-size: contain;
		z-index: 1;
	}
	&>div:last-child{
		.size(202px/2,202px/2);
		position: absolute;
		left: 50%;
		margin-left:-67px;
		top: 7px;
		background: url("../images/uploadfilter.png") no-repeat;
		background-size: contain;
		z-index: 50;
	}
}
#uploadImageDiv {
	overflow: hidden;
	border-radius: 50px;
	background-position: center center;
}

#uploadImage {
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	z-index: 60;
	left: 50%;
	margin-left:-67px;
	top: 7px;
	border-radius: 50px;
	display: none;
}

#fileInput{
	.size(202px/2,202px/2);
	position: absolute;
	z-index: 100;
	left: 50%;
	margin-left:-67px;
	top: 7px;
	filter:alpha(opacity=0); /*IE滤镜，透明度50%*/
	-moz-opacity:0; /*Firefox私有，透明度50%*/
	opacity:0;/*其他，透明度50%*/
}
#tips {
	.size(371px/2,37px/2);
	position: absolute;
	left: 50%;
	margin-left:-371px/4;
	background: url("../images/chioce.png") no-repeat;
	background-size: contain;
	bottom: -20px;
}
#addsuccess {
	position: absolute;
	z-index: 1000;
	.size(100%,100%);
	background-color: rgba(000,000,000,.8);
	display: none;
	&>div:nth-child(1) {
		.size(465px/2,265px/2);
		background-image: url("../images/add_tip.jpg");
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -265px/4;
		margin-left: -465px/4;
		&>div:nth-child(1) {
			.size(33px/2,33px/2);
			background-image: url("../images/huodong.png");
			position: absolute;
			background-repeat: no-repeat;
			background-size: cover;
			right: 0px;
			top:-33px/2;
			//add_tip
		}
		&>div:nth-child(2) {
			width: 154.5px;
height: 40px;
background-image: url("../images/play_video.png");
background-repeat: no-repeat;
position: absolute;
background-size: contain;
left: 50%;
margin-left: -52px;
bottom: 20px;
		}
	}
	
}

#isvifi {
	position: absolute;
	z-index: 100000;
	.size(100%,100%);
	background-color: rgba(000,000,000,.8);
	background-image: url("../images/042.gif");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: none;
}
#playvideo {
	display: none;
}
.picrotate {
	.transition(all  .5s ease-out); 
}
.carMove{
	.transition(margin-left  1s ease-out); 
}

#imageControl {
	position: absolute;
	z-index: 10000;
	.size(100%,100%);
	background-color: rgba(000,000,000,0.5);
	display: none;
}

.imageControl-circle {
	.size(231px/2,298px/2);
		left: 50%;
		margin-left:-298px/4;
		position: absolute;
		background: url("../images/circle.png") no-repeat;
		background-size: contain;
		top: 50%;
		margin-top: -298px/4;
		z-index: 1;
}

#commitBtn{
	.size(363px/2,80px/2);
	position: absolute;
	background: url("../images/resizebtn01.png") no-repeat;
	background-size: contain;
	right: 0px;
	bottom: 0px;
	z-index: 100000;
}